.menu {
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}



.menu.active .line1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu.active .line2 {
  opacity: 0;
}

.menu.active .line3 {
  transform: rotate(-45deg) translate(5px, -5px);
}


@keyframes leftToRight {
    0% {
      left: 0;
    }
    100% {
      left: 350px; /* Moves to the right */
    }
  }
  
  @keyframes rightToLeft {
    0% {
      left: 350px;
    }
    100% {
      left: 0; /* Moves back to the left */
    }
  }
  
  .menu {
    position: absolute;
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .menu-line {
    width: 100%;
    height: 5px;
    background-color: rgba(235,209,164,0.5);
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  /* Animation classes */
  .left-to-right {
    animation: leftToRight 0.5s ease-in-out forwards;
  }
  
  .right-to-left {
    animation: rightToLeft 0.5s ease-in-out forwards;
  }
